<img src="https://docs.google.com/uc?id=14xeXxFrVRjvOoUYWn_GuyE-v84wVzrqr" class="img-fluid" alt="CLRWY" width="400" height="200">

<h1><p style="text-align: center; color:darkblue">Python In-Class, <br>1 July 2021</p><h1>

In [1]:
list_1 = ['one', 'four', 'nine']
list_2 = ['@', '*-', 'False']
list_3 = [True, False]
list_4 = [[3], [44], [-12]]
list_5 = [[1, 3], [44, -40], [-12, 1]]

In [2]:
list_1.sort()
print(list_1)

['four', 'nine', 'one']

In [3]:
list_1

['four', 'nine', 'one']

In [4]:
list_2.sort()

In [5]:
list_2

['*-', '@', 'False']

In [6]:
ord("*")

42

In [11]:
ord("@")

64

In [8]:
ord("F")

70

In [9]:
list_2.sort(reverse=True) # B√ºy√ºkten k√º√ß√ºge sƒ±ralamak i√ßin kullanƒ±lƒ±r.

In [12]:
list_2

['False', '@', '*-']

In [13]:
list_3.sort()

In [14]:
list_3

[False, True]

In [15]:
list_5 = [[1, 3], [44, -40], [-12, 1]]

In [16]:
list_5.sort()

In [17]:
list_5

[[-12, 1], [1, 3], [44, -40]]

In [18]:
len("a b")

3

In [19]:
len(["a b"])

1

In [20]:
len(["a b", False, None, []])

4

In [21]:
len(1234)

TypeError: object of type 'int' has no len()

In [22]:
[1,3,6,9][2]

6

In [23]:
sayƒ±lar = [1,3,6,9]
sayƒ±lar[2]

6

In [24]:
sayƒ±lar[2]

6

In [25]:
sayƒ±lar[-3]

3

In [26]:
new = ["h", "a", 1, ["p", 2], True]

In [27]:
new[2]

1

In [28]:
type(new[2])

int

In [29]:
type(new[3])

list

In [30]:
new[3]

['p', 2]

In [31]:
type(new[3])

list

In [32]:
city_list = []

In [33]:
city = ['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [34]:
city_list.append(city)

In [35]:
city_list

[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']]

In [36]:
city_list[0]

['New York', 'London', 'Istanbul', 'Seoul', 'Sydney']

In [37]:
city_list[0][2]

'Istanbul'

In [38]:
type(city_list[0][2])

str

In [39]:
city_list[0][2][3]

'a'

In [40]:
range(11)

range(0, 11)

In [41]:
odd_number = list(range(11))

In [42]:
odd_number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
odd_number[1:10:2]

[1, 3, 5, 7, 9]

In [46]:
odd_number[1::2]

[1, 3, 5, 7, 9]

In [47]:
print(list(range(15)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [48]:
sehir = ['I', 's', 't', 'a', 'n', 'b', 'u', 'l']

In [49]:
sehir[-1:-6]

[]

In [50]:
sehir[-1:-6:-1]

['l', 'u', 'b', 'n', 'a']

In [51]:
sehir[:4:-1]

['l', 'u', 'b']

In [52]:
sehir[2:5]

['t', 'a', 'n']

# TUPLE

In [8]:
# The most important difference from the list is that the tuple is immutable. Therefore, methods like append() or remove() do not exist in the operations of this type.
# Tuples are commonly used for small collections of values that will not need to change, such as an IP address and port. If we have unchanged data, we should choose tuples because it is much faster than lists.

# We used square brackets üëâüèª'[]' to define the lists. In the tuple, normal parentheses üëâüèª'()' are used.

In [ ]:
# Liste ve demet arasƒ±ndaki fark nedir?
#Lƒ∞STELER:

# Listeler deƒüi≈ütirilebilir, yani d√ºzenlenebilir.
# Listeler, demetlerden daha yava≈ütƒ±r.
# Syntax: list_1 = [True, ‚ÄòSpace‚Äô, 20]
# TUPLE'ler:
# Tuple'lar deƒüi≈ümezdir (tuple'lar d√ºzenlenemeyen listelerdir).
# Tuple'lar listeden daha hƒ±zlƒ±dƒ±r.
# Syntax: tup_1 = (True, ‚ÄòSpace‚Äô , 20)

In [66]:
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [67]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple)) # it's not tuple type.

love
<class 'str'>

In [68]:
try_tuple = ('love',)

print(try_tuple)

print(type(try_tuple)) # it's a tuple type.

('love',)
<class 'tuple'>

In [10]:
# Actually, if your tuple contains more than one element, 
# separating elements with commas will be enough.

In [69]:
planets = 'mercury', 'jupiter', 'saturn'

print(planets)
print(type(planets))

('mercury', 'jupiter', 'saturn')
<class 'tuple'>

In [11]:
empty_tuple_1 = tuple()

print(empty_tuple_1)
print(type(empty_tuple_1))

()
<class 'tuple'>

In [ ]:
# It is easy to convert between list and tuple as in the examples below :

In [12]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [13]:
mountain = tuple('Alps') # An iterable string can be converted to a tuple 
print(mountain)

('A', 'l', 'p', 's')

In [53]:
mountain = list('Alps') # An iterable string can be converted to a list 
print(mountain)

['A', 'l', 'p', 's']

In [1]:
mix_value_tuple = (0, 'bird', 3.14, True)

print(len(mix_value_tuple))

4

In [2]:
even_no = (0, 2, 4)
print(even_no[0])    
print(even_no[1])    
print(even_no[2])   
print(even_no[3])

0
2
4

IndexError: tuple index out of range

In [3]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_list[0] = 'Athens'
city_list[1] = 'Cairo'
print(city_list)

['Athens', 'Cairo', 'Moskow', 'Dublin']

In [14]:
city_list = ['Tokyo', 'Istanbul', 'Moskow', 'Dublin']

city_tuple = tuple(city_list)

city_tuple[0] = 'New York'  # you can't assign a value

TypeError: 'tuple' object does not support item assignment

In [15]:
mix_value = (10, False, 'fruit', 1.618)
mix_value.append(['vegetable', 2+3j])

print(len(mix_value))

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
# Let's take a look at the basic advantages of tuples :

# Tuples are faster and more powerful in-memory than lists. You should give it a thought whenever you need to deal with large amounts of data. If you don't want to change your data you may have to choose tuples.

# Because of its immutability, the data stored in a tuple can not be altered by mistake.

# A tuple can be used as a dictionary (we will see in the next lesson) key, while 'TypeError' can result in lists as keys. And this is the usefulness of tuples in the data processing.

In [54]:
a = tuple()

In [55]:
type(a)

tuple

In [56]:
star = ("Solar", 1, [22, "22"])

In [57]:
type(star)

tuple

In [58]:
x = 1, 2, 3

In [59]:
type(x)

tuple

In [60]:
y = 1,

In [61]:
type(y)

tuple

In [62]:
z = ("2",)

In [63]:
type(z)

tuple

In [64]:
city = ["los-angeles", "beirut", "tokyo"]

In [65]:
city[0] = True

In [66]:
city

[True, 'beirut', 'tokyo']

In [67]:
city[1:] = "istanbul", "seoul"

In [68]:
city

[True, 'istanbul', 'seoul']

In [69]:
city[1:] = ["1", "2", "3", 4, False]

In [70]:
city

[True, '1', '2', '3', 4, False]

In [71]:
city[1:] = "banglade≈ü"

In [72]:
city

[True, 'b', 'a', 'n', 'g', 'l', 'a', 'd', 'e', '≈ü']

In [1]:
solar = "Earth", "venus", "uranus"
print(solar, type(solar), sep = "\n")

('Earth', 'venus', 'uranus')
<class 'tuple'>

In [4]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 4)
my_list = list(my_tuple)
print(type(my_list), my_list)

<class 'list'> [1, 2, 3, 4, 5, 6, 7, 4]

In [5]:
my_list = [1, 2, 3, 4, 5, 6, 7, 4]
my_tuple = tuple(my_list)
print(type(my_tuple), my_tuple)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 7, 4)

In [6]:
x = tuple(range(11))
print(x, type(x), sep = "\n")

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [74]:
mix_tuple = ('11', 11, [2, 'two', ('six', 6)], (5, 'fair'))

In [75]:
mix_tuple[2]

[2, 'two', ('six', 6)]

In [76]:
mix_tuple[2][2]

('six', 6)

In [77]:
mix_tuple[2][2][0]

'six'

In [80]:
type(mix_tuple[2][2])

tuple

In [81]:
mix_tuple[2].append("√ßaktƒ±rmayƒ±n")

In [82]:
mix_tuple

('11', 11, [2, 'two', ('six', 6), '√ßaktƒ±rmayƒ±n'], (5, 'fair'))

In [83]:
my_list = list(range(10))
my_list.sort()
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [92]:
a = list(range(10))
a.sort(reverse=True)
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [87]:
a = list(range(10)).sort(reverse=True)
print(a)

None

In [24]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]

print(grocer[1][1][1::2])

['eggplant', 'spinach', 'leek']

In [26]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and rose, two favorite colors are {} and {}.".format(flowers[0][2], colors[1][0], colors[1][1][1] )
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [29]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0], escapes[2][1])

print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.